# --- Build Artifacts (директорії збірки) ---
Debug/
Release/

# --- Об'єктні файли, дампи та лістинги ---
*.o
*.d
*.su
*.map
*.lst

# --- Фінальні бінарні файли прошивки ---
*.elf
*.bin
*.hex
*.axf

# --- Системні файли ОС ---
.DS_Store
Thumbs.db
desktop.ini

# --- Тимчасові файли CubeMX / редакторів ---
*.bak
*.tmp
*.orig
*~